.main_body {
    padding-bottom: 12.5rem;
}

.body_text {
    display: flex;
    justify-content: center;
    /*text-align: center;*/
    font-size: 84px;
    padding: 3.5rem 0;
}

.line_1 {
    margin-left: 20%;
}

.line_2 {
    margin-right: 20%;
    text-align: right;
}

.projects_btn {
    font-size: 4rem;
}

.projects_btn_name {
    color: #000;
    background: #FF7622;
    width: max-content;
    margin-left: 17.5%;
    position: absolute;
    padding: 0 3.75rem;
    border: 0.25rem solid black;
    transform: rotate(-2deg);
    /*filter: drop-shadow(6px 10px 0px #000000);*/
    transition: ease-in-out 0.2s;
}

.projects_btn_name:hover {
    /*filter: drop-shadow(8px 14px 0px #000000);*/
    box-shadow: #000000 6px 10px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.secondary_body {
    display: flex;
    height: 420px;
    width: 100%;
    flex-direction: row;
}

.secondary_box {
    width: 100%;
    height: 100%;
}

.primary_box {
    width: 17.75%;
    height: 110%;
    background: black;
}

.orange_box {
    height: 60%;
    width: 100%;
    background: #FF7622;
}

.black_design {
    z-index: 11;
    position: absolute;
    top: 750px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.black_design_long {
    width: 100%;
    height: 148px;
    position: absolute;
    top: 910px
}

.secondary_body_text {
    height: min-content;
    font-size: 238px;
    z-index: 10;
    position: absolute;
    top: 800px;
}

@media (max-width: 700px) {
    .navname {
        font-size: 3rem;
    }

    .navcontents {
        display: none;
    }
}
