.navbar {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.navname {
    width: 50%;
    font-size: 4rem;
    /*padding-left: 10%;*/
}

.name {
    background: black;
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    padding: 20px 40px;
    width: max-content;
    margin-left: 12.5%;

}

.navcontents {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navcontents > div {
    font-size: 40px;
    transition: ease-in-out 0.2s;
}

.navcontents > div:hover {
    /*filter: drop-shadow(0px 4px 0px #000000);*/
    border-bottom: 4px solid black;
    font-size: 39px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

@media (max-width: 500px) {
    .navcontents {
        display: none;
    }

    .navname {
        font-size: 32px;
    }
}